//Using Pseudo-classes in SASS

$notUnderline: none;
$color: blue;
$active: yellow;
$visited: orange;
$notVisited: green;
$important: bold;

a {
   text-decoration: $notUnderline;

   &:active {
      background-color: $active;
   }

   &:visited {
      background-color: $visited;
   }

   &:default {
      background-color: $notVisited;
   }

}

.Important {
   font-weight: $important;
}

//Control Directives (@for)

$fontSize: 16px;
@mixin forP() {

   @for $i from 1 through 4 {
      .item-#{$i} {
         font-size: $fontSize+2px *$i;
         
      }
   } 
}

.paragraphs{
   @include forP();
}

//Control Directives (@if)

$redni: item-2;

@mixin forParagraphs {
   @if $redni==item-1 {
      background-color: yellow;
   }

   @else if $redni==item2 {
      background-color: aqua;
   }

   @else if $redni==item-3 {
      background-color: green;
   }

   @else {
      background-color: red;
   }
}

p {
   @include forParagraphs($redni)
}

//Functions
$width: 200px;
$padding: 20px;
$border: 8px;

@function totalWidth($width) {
   @if (content-box) {
      @return $width+(2*$padding)+(2*$border);
   }

   @else if (border-box) {
      @return $width -(2*$padding)+(2*$border);
   }
}

.content-box {
   background-color: $active;
   display: block;
   width: totalWidth(300px);
}

.border-box {
   background-color: $notVisited;
   display: block;
   width: totalWidth(100px);
}