@media only screen and (min-width: 576px) {
 h1{
    color: black;
    text-align: center;
    margin:auto;
    font-family: 'Courier New', Courier, monospace;
 }
 img{
    width:100%;
    margin:auto;
    border: 2px;
 }
nav{
    width: 100%;
    margin:auto;
    text-align: center;
    display:grid;
    position: absolute;
    
        
    
}
nav.p{
    display:block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    border-radius: 2px;
    border-style: solid black;
    position:absolute;
    width:100%;
}
div{
    
    border-color: black;
    border-radius: 0.03px;
    border-style:groove;
    width:100%;
    text-align: center;
    text-decoration: black;
    
}

}